$screen-xl-min: 1440px;
$screen-lg-min: 992px;
$screen-md-min: 768px;
$screen-sm-min: 576px;
$screen-smallest: 0px;

$fade: 120ms;
$radius: 3px;
$finger: 46px;
$f-body: "IBM Plex Sans", sans-serif;
$f-body-normal: 400;
$f-body-bold: 500;
$f-body-semibold: 600;

$f-head: "Roboto", sans-serif;
$f-head-normal: 500;
$f-head-bold: 700;
$f-head-black: 900;

$fs-base: 16px;
$c-bg-form: #232b43;
$c-blue: #1d3893;
$c-blue-hover: #314ca7;
$c-blue-light: #00a9f4;
$c-green: #24ce95;
$c-red: #f71e3f;
$c-dark: rgba(36, 41, 52, 1);
$c-dark-70: rgba(36, 41, 52, 0.7);
$c-dark-50: rgba(36, 41, 52, 0.5);
$c-dark-30: rgba(36, 41, 52, 0.3);
$c-dark-20: rgba(36, 41, 52, 0.2);

$c-dark-10: rgba(36, 41, 52, 0.1);
$c-white: rgba(255, 255, 255, 1);
$c-white-70: rgba(255, 255, 255, 0.7);
$c-white-50: rgba(255, 255, 255, 0.5);
$c-white-40: rgba(255, 255, 255, 0.4);
$c-white-30: rgba(255, 255, 255, 0.3);
$c-white-20: rgba(255, 255, 255, 0.2);
$c-white-10: rgba(255, 255, 255, 0.1);
$c-white-05: rgba(255, 255, 255, 0.05);
